<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="static/main.js"></script>
</head>
<body>
    {% if user %}
        <h1>Привет, {{ user.email }}!</h1>
        <h2>Добавить новую комнату</h2>
        <form action="/create-chat" method="post">
            <input type="text" name="room_name" placeholder="Название комнаты" required>
            <button type="submit">Создать</button>
        </form>
        <h2>Ваши комнаты:</h2>
        <ul>
            {% for chat in user_chats %}
                <li>
                    {{ chat.name }} 
                    <form action="/delete-chat/{{ chat.id }}" method="delete">
                        <button type="submit">Удалить</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
        
        <h2>Поиск чатов</h2>
        <form action="/search-chats" method="get">
            <input type="text" name="query" placeholder="Название чата">
            <button type="submit">Найти</button>
        </form>
        <ul>
            {% for chat in found_chats %}
                <li>{{ chat.name }}</li>
            {% endfor %}
        </ul>
        
    {% else %}
        <h1>Добро пожаловать в онлайн-чат!</h1>
        <p><a href="/register">Регистрация</a> или <a href="/login">Войти</a> для продолжения</p>
    {% endif %}
</body>
</html>